<div ng-controller="NominationsCtrl as ctrl">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">NOMINATION DETAILS VIEW</h3>
        </div>
        <div class="box-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <a href="/Nominations/Create" class="btn btn-success pull-right">Add Nomination</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">Nomination Period: <span class="asteriskField"> *</span></label>
                        <select class="select form-control" ng-model="ctrl.NominationPeriod"
                                ng-options="item.Name for item in ctrl.NominationPeriods" ng-change="ctrl.ClearNominations()">
                            <option value="">Select Period</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label class="control-label">Nomination Body: <span class="asteriskField"> *</span></label>
                        <select class="select form-control" ng-model="ctrl.NominatingBody"
                                ng-options="item.Name for item in ctrl.NominatingBodies" ng-change="ctrl.ClearNominations()">
                            <option value="">Select Body</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <br />
                        <input type="button" name="searchapproval" value="Search Nominations" class="btn btn-info pull-right"
                               ng-disabled="!ctrl.NominationPeriod || !ctrl.NominatingBody" ng-click="ctrl.GetNominations()" />
                    </div>
                </div>

                <div class="col-md-12">
                    <table datatable="" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Salutation</th>
                                <th>Surname</th>
                                <th>Other Names</th>
                                <th>Nominating Body</th>
                                <th>Medal</th>
                                <th>Nationality</th>
                                <th>County of Birth</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.Nominations">
                                <td>{{item.Id}}</td>
                                <td>{{item.Salutation.Name}}</td>
                                <td>{{item.Surname}}</td>
                                <td>{{item.OtherNames}}</td>
                                <td>{{item.NominatingBody.Name}}</td>
                                <td>{{item.Medal.Name}}</td>
                                <td>{{item.Nationality}}</td>
                                <td>{{item.CountyOfBirth}}</td>
                                <td>{{item.Status}}</td>
                                <td>
                                    <a href="/Nominations/Details/{{item.Id}}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    @if (User.IsInRole("Adjudicator") || User.IsInRole("Super Admin"))
                                    {
                                        <text> | </text><a href="/Nominations/Edit/{{item.Id}}">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                    }
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <text> | </text><a href="/Nomination/Delete/{{item.Id}}">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    }
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Salutation</th>
                                <th>Surname</th>
                                <th>Other Names</th>
                                <th>Nominating Body</th>
                                <th>Medal</th>
                                <th>Nationality</th>
                                <th>County of Birth</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

@*<script>
        $(document).ready(function () {
            $('#nominationAddIndex').DataTable();
        });
    </script>*@
